<div class="container">
  <img src="../../../../assets/Tom_the_Cat.jpg" alt="itemPhoto">
  <div class="p-grid">
    <div class="p-col-3" *ngFor="let item of items">
      <p-card *ngIf="item" [title]="item.title" [subtitle]="item.price.toString()" [style]="{width: '360px'}" styleClass="ui-card-shadow">
        <p-header>
          <img src="../../../../assets/Tom_the_Cat.jpg" alt="itemPhoto">
        </p-header>
        <div>{{item.description}}</div>
        <img src="../../../../assets/Tom_the_Cat.jpg" alt="itemPhoto">
      </p-card>
    </div>
  </div>
</div>
