app-card{
   width: 100%;
   height: 100%;
   display: flex;
   flex-wrap: nowrap;
   align-items: flex-start;
   flex-wrap: wrap;


   .card{
      width: 18%;
      text-align: center;
      height: 100%;
      // border: 1px solid #eee;
      // border-radius: 3px;
      padding: 0;
      margin: 1em 1em 0 0;
      box-shadow: 0 0 5px rgba(207, 207, 207, 0.5);
      
     


      li{
         width: 100%;
         height: 100%;
         padding: 6px;
         position: relative;
         
         img{
            cursor: pointer;
            width: 133px;
            height: 130px;
         }
         .text{
            cursor: pointer;
            margin: 5px 5px;
            font-size: 13px;
            color: black;
            
         }
         .price{
            margin: 5px 5px 10px 5px;
            cursor: pointer;
            color: black;
         }   
         button{
            font-size: 12px;
            opacity: 0;
            margin-bottom: 15px;
            background-color: #fff;
           

         
         }
      }
   }
}   


li {
list-style: none;
}

.card:hover{
   transform: scale(1.02);
   transition: 0.4s;
  
  
   
}
.card:hover button{
   opacity: 1;
   transition: 0.4s;

}
.button {
   opacity: 1;
   position: absolute;
   top: 50px;
   left: 10px;
   right: 10px;

 
}

