<ul class="card" *ngFor="let item of items">

    <li *ngIf="items">
      <div  (click)="showDialog(item)">
        <img src="../../../assets/img/samsung15png.png" alt="">
        <p class="text">{{item.description}}</p>
        <p class="price">{{item.price}} $</p>
      </div>
      <div class="icon" (click)="putLike(item)">
      <div *ngIf="item.checked; else star">
         <i class="pi pi-star"> </i>
      </div>
        <ng-template #star>
          <i class="pi pi-star-o"></i>
        </ng-template>
      </div>

      <div class="button">
        <button pButton type="button" label="Добавити в корзину" class="ui-button-secondary" (click)="save(item)" *ngIf="!item.InBasket" ></button>
        
        <button  pButton type="button" label="Характеристики" class="ui-button-secondary" (click)="showDialog(item)"> </button>
      </div>



    </li>

  </ul>


  <app-shop-item-dialog [selectedShopItem]="selectedShopItem" [(visible)]="visible"></app-shop-item-dialog>

  <div class="pagination">
      <p-paginator [rows]="pageSize" totalRecords="{{pageCount}}" (onPageChange)="paginate($event)"></p-paginator>
  </div>

  <p-dialog header="" [(visible)]="display" [transitionOptions]="'400ms'">
    <div>
      <li *ngIf="items">
          <img src="../../../assets/img/samsung15png.png" alt="">
          <p class="text">{{item.description}}</p>
          <p class="price">{{item.price}} $</p>
      </li>
    </div>
  </p-dialog>
