<app-header (selectedCategory)="onCategorySelected($event)" xmlns="http://www.w3.org/1999/html"></app-header>
<div class="container">
   <div class="menu_left">
     <div class="sorted-container">

     <p-checkbox name="groupname" value="val1" label="Lowest Price" [(ngModel)]="selectedValues"></p-checkbox>
     <p-checkbox name="groupname" value="val2" label="Highest Price" [(ngModel)]="selectedValues"></p-checkbox>

     </div>

   </div>
   <div class="content_right">
         <app-card [selectedCategory]="selectedCategory"></app-card>
   </div>
  
   
</div>


