<p>У вашій корзині {{items.length}} товарів </p>

<hr>
<div class="p-grid" *ngFor="let item of items">
  <div class="p-col-4"><img src="../../../../assets/kisspng-samsung-galaxy-j7.jpg" alt="" width="80" height="70"></div>
  <div class="p-col-7 p-offset-1">
    <p class="title"><b>{{items.title}}</b></p>
    <p class="category">{{items.category}}</p>
    <p class="subcategory">{{items.subcategory}}</p>
    <p class="price">{{items.price}} $</p>
    <button class="baskt-btn" (click)="delBasket()">Видалити з корзини</button>
  </div>

</div>
<p>Загальна ціна : {{total() | currency:'USD':'$'}}</p>
<hr>
<button pButton type="button" label="Оформити замовлення" class="ui-button-success"></button>


