.dialog-title {
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.3em;
}

.dialog-text {
  padding: 2%;
}

.dialog-text {
  text-align: center;
}

.dialog-img {
  height: 100%;
  width: 30%;
}

.d-img-section {
  padding: 3%;
  display: flex;
  justify-content: center;
}

.d-price {
  text-align: center;
  font-weight: 700;
  color: darkblue;
  font-size: 1.3em;
  padding: 15px 0 15px 0;
}

