<div class="container">

  <form >
      <div class="header">
        Administrator
      </div>

    <div>
      <input type="text" [ngModelOptions]="{standalone: true}" placeholder="Login" [(ngModel)]="adminLogin" required>
    </div>

    <div>
      <input type="password" [ngModelOptions]="{standalone: true}" placeholder="Password"  [(ngModel)]="adminPassword" required/>
    </div>

    <div >
      <input class="dws-submit" type="submit" value="Submit" (click)="sendData()">
    </div>
  </form>
</div>
